<a class="changeLanguage" href="/<%= changeLanguage.url %>?language=<%= changeLanguage.languageCode %>" id="language" >
    <span>
      <img src="/images/<%= changeLanguage.flagImage %>" alt="Byt språk / Change language"/>
    </span>
</a>