<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700%7CMerriweather:400,300,700" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/validation.js"></script>
</head>