<div class="chalmers-lib-logo">
<div id="logo-part1" class="logo-part part1"></div><div id="logo-part2" class="logo-part part2"></div><div id="logo-part3" class="logo-part part3"></div><div id="logo-part4" class="logo-part part4"></div><div id="logo-part5" class="logo-part part5"></div><div id="logo-part6" class="logo-part part6"></div>
</div>